
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    overflow-x: hidden;
}
header{
    background-color: #4b246a;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 span{
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    display: flex;
}
nav{
    margin-top: 15px;
    display: flex;          
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
     text-align: center;
}
nav a.active{
    border-bottom: 2px solid orange;
}
.hero,
.transport,
.travel {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh; 
}
.hero img,
.transport img,
.travel img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.why,
.about {
    padding: 40px 10%;
}
.why h2,
.about h2{
    text-align: center;
    margin-bottom: 15px;
}
.why p{
    text-align: center;
    margin-bottom: 25px;
    color: #555;
}
article{
    margin-bottom: 20px;
}
article h3{
    color: #333;
}
article p{
    color: #666;
}
.about p{
    text-align: center;
    color: #555;
    margin-bottom: 15px;
}
footer{
    background-color: #f1f1f1;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

@media (max-width: 768px){
    .hero img,
    .transport img,
    .travel img{
        height: 60vh;
    }

    .why,
    .about{
        padding: 30px 5%;
    }

    nav a{
        font-size: 13px;
    }
}

@media (max-width: 480px){
    header{
        padding: 15px;
    }

    header h1{
        font-size: 20px;
    }

    header h1 span{
        display: block;
        margin-top: 5px;
    }

    .hero img,
    .transport img,
    .travel img{
        height: 50vh;
    }

    nav{
        gap: 8px;
    }

    nav a{
        font-size: 12px;
    }
}

