
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
    /* it keeps ths width on exact screen */
}

html, body {
    width: 100%;
background-color: #F8FAFC;
overflow-x: hidden;  
 background-color: #F8FAFC;


}









.top-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%; /* Fixed height */
    padding: 5%;
    text-align: center;
    background: linear-gradient(135deg, #0a3cff, #00c6ff);
    color: white; 
}






.top1{
font-size:x-large;
}




@media (max-width:1100px)
{

 
.top1{
font-size:large;
}

}





@media (max-width:800px)
{


.top-header {
   position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 18%; /* Fixed height for this so that text canit be changed */
    padding: 5%;
    text-align: center;
    background: linear-gradient(135deg, #0a3cff, #00c6ff);
    color: white;
    
}




.top1{
font-size:medium;
}

}







@media (max-width:600px)
{


.top-header {
   position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%; /* Fixed height for this so that text canit be changed */
    padding: 5%;
    text-align: center;
    background: linear-gradient(135deg, #0a3cff, #00c6ff);
    color: white;
    
}




.top1{
font-size:medium;
}

}
















@media (max-width:460px)
{



.top-header {
   position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 17%; /* Fixed height for this so that text canit be changed */
    padding: 5%;
    text-align: center;
    background: linear-gradient(135deg, #0a3cff, #00c6ff);
    color: white;
    
}
.top1{
font-size:medium;
}

}







/* BODY PADDING (Pushes content below fixed header) */
#main {
    padding-top: 100px; 
}



/* for easy we paste it in css if we do in html it make a separate object it disturbs all page */
.asia {
    margin-bottom: 100px; /*Space between each continent block */
    text-align: center;
    background-image: url('images/asia.jpeg');
    
    /* Ensures the image fills the section nicely */
    background-size: cover;
    background-position: center;
    padding: 5%;
    background-color: rgba(255, 255, 255,0.5);
    /* 0.5 means tranpency  */
    background-blend-mode: overlay;
}

.Europe {
    margin-bottom: 100px; /* Space between each continent block */
    text-align: center;
    background-image: url('images/Europe.jpeg');
    
    /* Ensures the image fills the section nicely */
    background-size: cover;
    background-position: center;
    padding: 5%;
    background-color: rgba(255, 255, 255,0.5);
    /* 0.5 means tranpency  */
    background-blend-mode: overlay;
}


.africa {
    margin-bottom: 100px; /* Space between each continent block */
    text-align: center;
    background-image: url('images/africa.jpeg');
    
    /* Ensures the image fills the section nicely */
    background-size: cover;
    background-position: center;
    padding: 5%;
    background-color: rgba(255, 255, 255,0.5);
    /* 0.5 means tranpency  */
    background-blend-mode: overlay;
}

.america{
    margin-bottom: 100px; /* Space between each continent block */
    text-align: center;
    background-image: url('images/america.jpeg');
    
    /* Ensures the image fills the section nicely */
    background-size: cover;
    background-position: center;
    padding: 5%;
    background-color: rgba(255, 255, 255,0.5);
    /* 0.5 means tranpency  */
    background-blend-mode: overlay;
}


.Australia{
    margin-bottom: 100px; /* Space between each continent block */
    text-align: center;
    background-image: url('images/australia.jpeg');
    
    /* Ensures the image fills the section nicely */
    background-size: cover;
    background-position: center;
    padding: 5%;
    background-color: rgba(255, 255, 255,0.5);
    /* 0.5 means tranpency  */
    background-blend-mode: overlay;
}




.card-stack-area {
    position: relative; 
    height: 200px;      
    width: 120px;       
    margin: 40px auto;  
}
.card {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 150px;
    border: 2px solid lightskyblue; 
    border-radius: 20px;
    background: white;
}
#card1{
     rotate: -3deg;
       z-index: 4;
}
#card1:hover{
     z-index: 100;
    cursor:pointer;
}

#card2{
     rotate: -8deg;
       z-index: 3;
}
#card2:hover{
     z-index: 100;
     cursor:pointer;
}
#card3{
     
    rotate: -16deg;
      z-index: 2;
}
#card3:hover{
     z-index: 100;
     cursor:pointer;
}

#card4{
     rotate: -24deg;
       z-index: 1;
     
}
#card4:hover{
     z-index: 100;
     cursor:pointer;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.footer
{
    width: 100%;
    height: 10%;
 text-align: center;
 color:white;
     background: linear-gradient(135deg, #0a3cff, #00c6ff); 
}

