*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #4b246a;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 span{
    font-size: 14px;
    letter-spacing: 2px;
}
nav{
    margin-top: 15px;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}
nav a.active{
    border-bottom: 2px solid orange;
}
body{
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
h1{
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
p{
    text-align: center;
    margin-bottom: 5px;
}
label{
    font-weight: bold;
}
input[type="text"],
input[type="email"]{
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="checkbox"]{
    margin-right: 5px;
}
form{
    margin-top: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
button{
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: #444;
}
.info-section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 50px auto;
    max-width: 1000px;
}
.box{
    background-color: #fff;
    padding: 20px;
    text-align: center;
    flex: 1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
.box h2,
.box h3 {
    margin-bottom: 10px;
}
footer{
    background-color: #111;
    color: #fff;
    margin-top: 50px;
    padding: 30px 20px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1100px;
    margin: auto;
}
.footer-content article {
    flex: 1;
}
footer h3{
    margin-bottom: 10px;
}
footer nav a{
    display: block;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 5px;
}
footer nav a:hover {
    color: #fff;
}
.icons span{
    display: inline-block;
    background-color: #333;
    padding: 8px;
    margin-right: 5px;
    border-radius: 50%;
}
.review input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}
.cookies{
    background-color: #222;
    margin-top: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cookies button{
    background-color: #fff;
    color: #000;
}
@media(max-widht: 768px){
    .info-section,
    .footer-content{
        flex-direction: column;
        text-align: center;
    }
}
    .icons {
      cursor: pointer;
    }
/* @media(max-width: 425px){ */

