*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f4f8fb;
    color: #333;
}
header{
    background: #0099cc;
    color: white;
    text-align: center;
    padding: 40px 20px;
}
header h1{
    font-size: 36px;
}
header p{
    margin-top: 10px;
}
.faq-container,
.blog-container{
    width: 80%;
    margin: 40px auto;
}
details{
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}
summary{
    font-weight: bold;
}
details p{
    margin-top: 10px;
}
.blog-post{
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.blog-post h2{
    color:#0099cc
}
.blog-post .date{
    font-size: 14px;
    color: gray;
    margin: 8px 0;
}
.blog-post a{
    text-decoration: none;
    color: white;
    background: #0099cc;
    padding: 8px 12px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
}
.blog-post a:hover{
    background: #0077aa;
}
footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 0px;
}