*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
    background-color: #f4f7fb;
}
header{
    top: 0%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d47a1;
}
header h2{
    color: White;
}
header p{
    color: white;
}
section h2{
    margin-top: 1%;
    text-align: center;
    color: blue;

}
main{
    margin-top: 2%;
    align-self: flex-start;
    height:50%;
    width:100%;
    gap: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
article{
    align-self: flex-start;
    height:100%;
    width:20%;
    margin-left: 10%;
    background-color:  #1565c0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5%;
    margin-bottom: 2%;
    position: relative;
}
article img{
    width:100%;
    height:50%;
    display: block; 
    flex-wrap: wrap;
    border-radius: 5%;
}
article h3{
    margin-left: 2%;
    color: white;
}
article p{
    color: white;
    margin-left: 2%;
}
article h2{
    color: orange;
}
figure{
    background-color: #ff9800;
    height: 10%;
    width: 40%;
    display: flex;
    justify-content: center;
    border-radius: 5%;
    position:absolute;
    bottom: 10px;
    right: 10px;
}
figure h5{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 11%;
    color: white;
}
figure:hover{
    background-color: red;
    cursor: pointer;
    transform: scale(1.15);
    box-shadow: 0 10px 20px rgba(253, 2, 2, 0.838);
}
figure a{
    text-decoration: none;
    color: inherit;
}
#box1{
    align-self: flex-start;
    height:100%;
    width:20%;
    background-color:  #1565c0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#box2{
    align-self: flex-start;
    height:100%;
    width:20%;
    background-color:  #1565c0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#box3{
    align-self: flex-start;
    height:100%;
    width:20%;
    background-color:  #1565c0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#box4{
    align-self: flex-start;
    height:100%;
    width:20%;
    background-color:  #1565c0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
}
#box5{
    align-self: flex-start;
    height:100%;
    width:20%;
    background-color:  #1565c0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
}
#bottom h2{
    margin-top: 45%;
    text-align: center;
    color: blue;
}
#row3{
    margin-top: 2%;
    align-self: flex-start;
    height:30%;
    width:100%;
    gap: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#row3 img{
    width: 100%;
}
footer{
    margin-top: 2%;
    width: 100%;
    height: 40%;
    background-color: #0288d1;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
footer img{
    position: absolute;
    height: 100%;
    width: 100%;
}
footer h2{
    height: 20%;
    width: 50%;
    position: relative;
   color: white;
   z-index: 2;
}
#contact{
    position: absolute;
    height: 12%;
    width: 8%;
    background-color: orange;
    justify-content: center;
    text-align: center;
    border-radius: 5%;
    bottom: 35%;
    right: 48%;
}
#contact:hover{
    background-color: red;
    cursor: pointer;
}



